.stars{
    display: flex;
    gap: 4px;
    font-size: 24px;
    line-height: 1;
}

.full {
    color: gold;
}

.empty {
    color: #444;


}

.part-container{
    position: relative;

}

.part {
    color: gold;
    position: absolute;
    overflow: hidden;

}