.badge {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: var(--background);
    border: 1px var(--accent) solid;
    border-radius: 6px;
    padding: 8px 4px;

    transition: transform 0.1s ease,color 0.1s ease;
}

.badge a{
    color: var(--text-secondary);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.badge:hover a{
    color: var(--accent-hover);

}

.badge:active {

    transform: scale(0.96);
}