.header {
    display: flex;
    align-items: center;
    gap: 40px;

    width: 100%;
    padding: 20px 40px;

    background: var(--surface);
    border-bottom: 1px solid var(--border);

}

.logo {
    color: var(--text-primary);
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 0.3s ease;
}

.logo:hover {
    color: var(--accent);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation a {
    color: var(--text-secondary);
    font-weight: 500;
    transition: color 0.2s ease;
}

.navigation a:hover {
    color: var(--accent-hover);
}